

/*Love hate*/

a:link {
	color: blue;
	text-decoration: none;
}

a:active {
	color: hsla(49, 100%, 50%, 1);
	text-decoration: none;
}

a:visited {
	color: red;
	text-decoration: none;
}

a:hover {
	color: rgba(92, 172, 22, 1);
	text-decoration: none;
}


/*grid, kolumner, rader, text decoration och align.*/

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 1300px;
	background-size: cover;
	text-decoration: none;
	text-align: center;
}


/*Detaljer om spalten där den globala menyn kommer att finnas*/

.itema {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #778899;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.itemb {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 20;
	background-color: #778899;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.itemc {
	grid-column-start: 2;
	grid-column-end: 10;
	grid-row-start: 2;
	grid-row-end: 9;
	background-color: white;
	text-align: center;
	justify-content: center;
}

.itemd {
	grid-column-start: 10;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 20;
	background-color: #778899;
}


/*Mer detaljerad info om den globala menyn*/

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	list-style-type: none;
	text-decoration: none;
	font-size: 3ex;
	padding: 30px;
	word-spacing: 3cm;
}
#ul1 {
  grid-column-start: 1;
  grid-row-start: 3;
}
#Antiken {
	grid-column-start: 1;
	grid-row-start: 3;
}

#Nutid {
	grid-column-start: 1;
	grid-row-start: 5;
}

#Pa_jobbet {
	grid-column-start: 1;
	grid-row-start: 7;
}

#I_hemmet {
	grid-column-start: 1;
	grid-row-start: 9;
}


/*Bildernas egenskaper*/

img {
	width: 150px;
	border-radius: 20px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 2em;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10px;
}

h:nth-child(2) {
	color: indigo;
}

p:first-child {
	color: indigo;
}
