body {
  color: red;
  background-color: green;
}
*{
  box-sizing: border-box;
}
.column1 {
  float: left;
  width: 10%;
  padding: 12mm;
  background-color: #A9A9A9;
  height: 900px;
}
.column2 {
  float: right;
  width: 90%;
  padding: 12mm;
  background-color: white;
  height: 900px;
  text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: #A9A9A9;
}
.topnav a {
  float: left;
  color: black;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
body {
  color: red;
  background-color: green;
}
*{
  box-sizing: border-box;
}
.section {
  display: grid;
  justify-content: center;
  align-content: center;
}
img {
  height: 500px;
  width: 700px;
}
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
